@media screen and (min-width:1200px){
	.circle_profile{
	width: 175px;
    height: 175px;
    margin: 0 25px 0 10px;
	}

	.sticky-shrinknav-menu {
  		left: 50%;
  		width: 96.5%;
	}
		div#test {
    left: 75px;
  }
}