@media screen and (max-width:767px){
	.circle_profile {
    width: 115px;
    height: 115px;
    margin: 0 10px 0 10px;
	}
	.window {
    	width: 350px;
	}
		.card-details {
    	max-height: 182px;
	}
}