//colors
$color-primary: #add8e6;
$color-paid: #7fdbff;
$color-sent: #39cccc;
$color-relaxed: #ADD8E6;
$color-lightgray: #e6e6e6;
$color-white: #ffffff;
//shapes
$global-radius: 0;
//Animation
$animated-search-form-initial-width: 10rem;
$animated-search-form-transition-duration: 0.4s;
