{#This is the page they first encounter#}
{% set pathjs = 'assets/js/' %}
{% set pathcss = 'assets/css/' %}
{% set pathimgs = 'assets/images/' %}
{% extends "layout.njk" %}

{% block content %}
{% include "partials/navigation.njk" %}
<main>

</main>
{% include "partials/footer.njk" %}
{% endblock %}
