{#This is the page they first encounter#}
{% set pathjs = '../assets/js/' %}
{% set pathcss = '../assets/css/' %}
{% set pathimgs = '../assets/images/' %}
{% extends "layout.njk" %}
{% block content %}
{% include "partials/navigation.njk" %}
<div class="maincontent">





  <form id="emailform" name="contactform" method="post" action="php/formsubmitted.php">
<table width="450px">
<tr>
 <td valign="top">
   <label for="name">Name *</label>
 </td>
 <td valign="top">
<input type="text" name="name" id="name" placeholder="Name">
 </td>
</tr>

<tr>
 <td valign="top">
  <label for="email">Email *</label>
 </td>
 <td valign="top">
 <input type="email" name="email" id="email" placeholder="name@gmail.com">
 </td>
</tr>

<tr>
 <td valign="top">
  <label for="comments">Comments *</label>
 </td>
 <td valign="top">
  <textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
 </td>
</tr>

<tr>
 <td colspan="2" style="text-align:center">
  <div id="recaptcha" class="g-recaptcha" data-sitekey="6Lcaqj4UAAAAANibKDxwSTJ9WylQcaZB6OFPcEbb"></div>
 </td>
</tr>

<tr>
 <td colspan="2" style="text-align:center">
<button class="button primary" type="submit">Submit</button>
 </td>
</tr>
</table>
</form>
<?php echo $result; ?>
<!-- Load validation js -->
<img src onerror='validate()' style="display: none;">
</div>
{% endblock %}