{#This is the page they first encounter#}
{% set pathjs = '../assets/js/' %}
{% set pathcss = '../assets/css/' %}
{% set pathimgs = '../assets/images/' %}
{% extends "layout.njk" %}
{% block content %}
{% include "partials/navigation.njk" %}
<div class="maincontent">

<div class="row small-12 medium-8 large-6 columns align-center">
  <canvas id="myChart" width="400" height="400" background="white" ></canvas>
</div>
<div class="row small-12 medium-8 large-6 columns align-center">
<input type="search" name="search" placeholder="Search.." class="animated-search-form" id="searchproject" onkeydown="search(this)">
</div>

<div class="grid-container">
  <div class="projects grid-x grid-padding-x small-up-2 medium-up-3">

  {% for image in images %}
      <div class="cell">
      <div class="card">
        <div class="card-image">
          <img src="{{pathimgs}}gifs/{{image.src}}">
        </div>
        <div class="card-section">
          <h4>{{image.title}}</h4>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

</div>
{% endblock %}