{#This is the page they first encounter#}
{% set pathjs = '../assets/js/' %}
{% set pathcss = '../assets/css/' %}
{% set pathimgs = '../assets/images/' %}
{% extends "layout.njk" %}
{% block content %}
{% include "partials/navigation.njk" %}
<div class="maincontent">
<div class="grid-container">
  <div class="grid-x grid-padding-x small-up-2 medium-up-3">

  {% for image in images %}
      <div class="cell">
      <div class="card">
        <img src="{{pathimgs}}/gifs/{{image.src}}">
        <div class="card-section">
          <h4>{{image.title}}</h4>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

</div>
{% include "partials/footer.njk" %}
{% endblock %}