{#Page they encounter when registering#}
{% extends "layout.njk" %}
{% block content %}
{#Navigation#}
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Master My Course</a>
  </div>
</nav>

{#Footer#}
{% include "partials/footer.njk" %}

{% endblock %}
