<div class="maincontent">
<section class="window">
  <header class="window-header">
    <nav class="window-controls">
      <span class="control-item control-minimize js-minimize">‒</span>
      <span class="control-item control-maximize js-maximize">□</span>
      <span class="control-item control-close js-close">˟</span>
    </nav>
  </header>
  <div id="data">

  </div>

</section>


<div class="prompt-shortcut i-prompt hidden js-open"></div>

</div>