<footer class="page-footer">
         <div class="footer-copyright">
           <div class="container">
           © 2017 Copyright
           </div>
           <!-- for the security logo -->

         </div>
       </footer>
