<footer class="page-footer">
         <div class="footer-copyright">
           <div class="container">
           © 2017 Copyright
           </div>
           <!-- for the security logo -->
    <script language="JavaScript" type="text/javascript">
TrustLogo("http://joserod.me/comodo_secure_seal_76x26_transp.png", "CL1", "none");
</script>
<a  href="https://ssl.comodo.com" id="comodoTL">Comodo SSL</a>
         </div>
       </footer>
