<div class="{{type}} callout" data-closable>
  <h5>{{message}}</h5>
  <p>{{extra}}</p>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>