<header class="sticky-shrinknav-header">
	<div class="circle_profile sticky-shrinknav-header-title">
      <img src= "{{pathimgs}}/placeholder/tiger-1.jpg">
	</div>
	<h1 class="sticky-shrinknav-header-title">José A. Rodríguez</h1>
	<ul class="menu align-center sticky-shrinknav-menu">
    <li><a id= "btn-about" href="#">About</a></li>
    <li><a id= "btn-projects" href="#">Projects</a></li>
    <li><a id= "btn-contact" href="#">Contact</a></li>
  </ul>
</header>
