<header class="sticky-shrinknav-header">
	<div class="circle_profile sticky-shrinknav-header-title">
      <img src= "{{pathimgs}}placeholder/tiger-1.jpg">
	</div>
	<h1 class="sticky-shrinknav-header-title">José A. Rodríguez</h1>
	<ul class="menu align-center sticky-shrinknav-menu">
    <li><a id= "btn-about" href="#">About</a></li>
    <li><a id= "btn-projects" href="#">Projects</a></li>
    <li><a id= "btn-contact" href="#">Contact</a></li>
  </ul>
<div id ="iconsmenu">
    <a class="webicon github large" href="">GitHub</a>
    <a class="webicon linkedin large" href="https://www.linkedin.com/in/jose-rodriguez-p0dxd/">linkedin</a>
    <a class="webicon twitter large" href="https://twitter.com/p0dxD">Twitter</a>
    <a class="webicon bitbucket large" href="https://bitbucket.org/joserod/">Bitbucket</a>
    <a class="webicon instagram large" href="https://www.instagram.com/p0dxd2/">Instagram</a>
  </div>
</header>
