<!DOCTYPE html>
<html lan="en">
<head>
  <meta charset="UTF-8">
  <title>About me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{pathcss}}foundation.css">
  <link rel="stylesheet" href="{{pathcss}}webicons.css">
  <link rel="stylesheet" href="{{pathcss}}main.css">
  
  <script type="text/javascript" src="{{pathjs}}jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="{{pathjs}}modernizr.js"></script>
  <script type="text/javascript" src="{{pathjs}}what-input.js"></script>
  <script type="text/javascript" src="{{pathjs}}foundation.js"></script>
  <script type="text/javascript" src="{{pathjs}}main.js"></script>
  <!-- for the security logo -->

</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
