<!DOCTYPE html>
<html lan="en">
<head>
  <meta charset="UTF-8">
  <title>About me</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="{{pathimgs}}/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{pathimgs}}/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{pathcss}}foundation.css">
  <link rel="stylesheet" href="{{pathcss}}webicons.css">
  <link rel="stylesheet" href="{{pathcss}}main.css">
  
  <script type="text/javascript" src="{{pathjs}}jquery.js"></script>
  <!-- <script type="text/javascript" src="{{pathjs}}parallax.js"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="{{pathjs}}modernizr.js"></script>
  <script type="text/javascript" src="{{pathjs}}what-input.js"></script>
  <script type="text/javascript" src="{{pathjs}}foundation.js"></script>
  <script type="text/javascript" src="{{pathjs}}main.js"></script>
  <script type="text/javascript" src="{{pathjs}}form-validation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <!-- for the security logo -->
  <script src='https://www.google.com/recaptcha/api.js' async defer></script>

</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
